.countryCard
{
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.422);
}